language: generic
sudo: required
dist: trusty

install:
        - sudo apt-get install fpc

script:
        - echo "test"

notifications:
        email:
                on_success: false
                on_failure: false
